################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Dodem_Zadanie/DesignTimeBuild
/.vs/Dodem_Zadanie/FileContentIndex
/.vs/Dodem_Zadanie/v17
/.vs/ProjectEvaluation
